.footer {
	width: 100%;
	background-color: var(--color-secondary-dark);
	color: var(--color-light);
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .5s ease;
}

.footer a {
	text-decoration: none;
	color: var(--color-light);
}

@media(max-width: 767px) {
	.footer {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
	}
}
@media(min-width: 768px) {
	.footer {
		position: fixed;
		bottom: 0;
		left: 0;
		margin: 4rem 0 0 15rem;
		width: calc(100% - 15rem);
	}
}