.table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  /* text-align: center; */
  font-size: 16px;
}

.table th {
  background-color: #0D6EFD;
  color: #ffffff;
}

.table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.btn {
  background-color: gray;
  margin: 0 5px;
  padding: 10px;
  border-radius: 8px;
}

.btn.tambah,
.btn.cetak {
  margin: 10px 5px;
}

/*responsive*/

@media(max-width: 500px) {
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }

  .table tr {
    margin-bottom: 15px;
  }

  .table td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }

  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}

@media print {
  .content-header::before {
    content: "Laporan ";
  }

  .content-header {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 300;
  }

  .aksi,
  .aksi-button,
  .navbar,
  .footer,
  .line {
    display: none !important;
  }

  .table td,
  .table th {
    border: 1px solid #000;
    color: #000;
  }


}